/* Imports */
/* @import url("reset.css"); */
@import url("pygment.css");
@import url("typogrify.css");
@import url("fonts.css");

.text-blue-python {color: #347ab4;}
.text-yellow-python {color: #ffca1d;}

/* Global HEADER and FOOTER */
#banner {
    background-color: rgb(50, 50, 50);
    margin-bottom: 20px;
}
#contentinfo {
    padding: 3em;
    color: aliceblue;
    background-color: rgb(50, 50, 50);
}

/* Article HEADER and FOOTER */
.post-info {
    border: 1px solid;
    border-radius: 10px;
    padding: .5em;
}

.menu-item {color: #347ab4;}
.menu-item:hover {color: #ffca1d;}

/* 
    Remove scroll bare from code example removing the overflow: auto
    Add padding to separate code from the rest of the article
*/
/* .highlight {
    margin: 1em 0;
    padding: 1em;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
} */

/* Fight Foundation */
code{
    border: none;
    background-color: transparent;
}