{% extends "base.html" %}

{% block content %}
<section id="content">

    <div class="grid-container">
        <div class="grid-x grid-margin-x align-left">
        {% block content_title %}
            <h2>Tous les articles</h2>
        {% endblock %}    
        </div>

        <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">
            {% for article in articles_page.object_list %}
            <div class="cell">

                <div class="card">
                    <div class="card-section">
                        <a href="{{ SITEURL }}/{{ article.url }}">
                            <img src="{{ article.thumbnail }}" alt="thumbnail">
                        </a>
                    </div>
                    <div class="card-section">
                        <h4>
                            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                                {{ article.title }}
                            </a>
                        </h4>
                        <p>{{ article.summary|truncate(150) }}</p>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

        <div class="grid-x grid-margin-x align-right">
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
        </div>
    </div>

</section><!-- /#content -->
{% endblock content %}