{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}

<!-- <p class="paginator">
    {% if articles_page.has_previous() %}
        <a href="{{ SITEURL }}/{{ first_page.url }}">&#8647;</a>
        <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
    {% endif %}
    Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
        <a href="{{ SITEURL }}/{{ last_page.url }}">&#8649;</a>
    {% endif %}
</p> -->

<nav aria-label="Pagination">
    <ul class="pagination text-right">
        {% if articles_page.has_previous() %}
        <li class="pagination-previous">
            <a href="{{ SITEURL }}/{{ first_page.url }}" aria-label="First page">First <span class="show-for-sr">page</span></a>
        </li>
        <li class="pagination-previous">
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" aria-label="Previous page">Previous <span class="show-for-sr">page</span></a>
        </li>
        {% endif %}

        <li>Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}</li>

        {% if articles_page.has_next() %}
        <li class="pagination-next">
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}" aria-label="Next page">Next <span class="show-for-sr">page</span></a>
        </li>
        <li class="pagination-next">
            <a href="{{ SITEURL }}/{{ last_page.url }}" aria-label="Last page">Last <span class="show-for-sr">page</span></a>
        </li>
        {% endif %}

    </ul>
</nav>

{% endif %}
